@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.skillContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 200px 0;
}

.skillContainer_text {
    color: white;
    flex: 0.6;
    text-align: left;
    max-width: 500px;
    margin-bottom: 20px;
}

.skillContainer_text>h2 {
    font-size: 20px;
}

.skillContainer_image {
    flex: 0.4;
    text-align: center;
    margin: 100px;
}

.skillContainer_image>img {
    width: 600px;
    border-radius: 3px;
    object-fit: contain;
}

.skillContainer_skillSet>h5 {
    font-family: "Monstserrat", sans-serif;
    font-weight: 300;
    padding-bottom: 20px;
    padding-top: 10px;
}

.skillContainer_slider>.css-1txyin7-MuiLinearProgress-root {
    background-color: rgb(88, 88, 88);
}

.skillContainer_slider1>span>.css-l16vtb-MuiLinearProgress-bar1 {
    background-color: tomato;
}

.skillContainer_slider2>span>.css-l16vtb-MuiLinearProgress-bar1 {
    background-color: rgb(156, 26, 3);
}

.skillContainer_slider3>span>.css-l16vtb-MuiLinearProgress-bar1 {
    background-color: rgb(255, 145, 0);
}

.skillContainer_slider4>span>.css-l16vtb-MuiLinearProgress-bar1 {
    background-color: rgb(228, 213, 0);
}

.skillContainer_slider5>span>.css-l16vtb-MuiLinearProgress-bar1 {
    background-color: rgb(136, 146, 0);
}

.skillContainer_slider6>span>.css-l16vtb-MuiLinearProgress-bar1 {
    background-color: rgb(255, 209, 6);
}